.horz-navbar {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  background: blue;
  height: 50px;
}
.horz-navbar a {
  line-height: 50px;
  margin: auto;
  padding: 0 20px;
  color: white;
  font-weight: 800;
}

/*.app-nav {
  border: solid 2px blue;
  width: 200px;
  float: left; 
}

.app-content {
  border: solid 2px red;
  margin-left: 200px;
}

.app-header {
  border: solid 2px green;
  margin-left: 200px; 
}
*/