/*.app-nav {
  border: solid 2px blue;
  width: 200px;
  float: left; 
}

.app-content {
  border: solid 2px red;
  margin-left: 200px;
}

.app-header {
  border: solid 2px green;
  margin-left: 200px; 
}
*/